/* Basic reset for common elements */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styling */
header {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

/* Main content wrapper */
.content-block{
    background-color: rgb(233, 255, 255);
}
.content-wrapper {
    display: flex;
    gap: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}
.headlines-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if needed */
    color: black;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

/* Trends Section */
#trendsSection {
    flex: 1;
    min-width: 200px;
}

#trendList .article {
    margin-bottom: 10px;
}

/* News List Section */
#newsSection {
    flex: 3;
}

#newsList .article {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content-area {
        flex-direction: column;
    }

    #trendsSection, #newsSection {
        width: 100%;
    }
}

.newsSection {
    padding-left: 80px;
    padding-right: 80px;
}
